body{
	margin: 0; padding: 0; font: 12px/14px Arial, serif; background: #f3f3f3;
}

.wrapper{
	max-width: 400px; padding: 30px 50px; border: 1px solid #ccc; border-radius: 5px;
	margin: 50px auto; background: #fff; box-shadow: 2px 2px 5px #aaa;
}

h1{
	margin: 0 0 20px;
}

h1 img{
	max-height: 38px; position: relative; top: -4px;
}

p{
	padding: 10px; text-align: center;
}

a.forgot_password{
	position: relative; top: 15px; border-bottom: 1px dashed #ccc;
}