@image-border-color: #ccc;
@intro-video-offset: -100px; 
@canvas-border: #24B8FF;
@main-color: #b7dcf0;

.color-red{color:red}

.RoundBorders(@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.margin-top-100{margin-top:100px;}
.main-color{color:@main-color;}
.circle{border:1px solid #ddd; width:100px; height:100px;  display: flex; .RoundBorders(50%)}
h2{ font-size: 15px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid #ddd;}

.required{
	content: '* ';
    color: #F00;
    font-weight: bold;
}    


 *{outline:none!important;}
html,body{ height:100%!important;overflow:hiddens;font-size:14px;}

@font-face{
	font-family : agisarang;
	src: url(../fonts/agisarang.ttf);
}

.cf{clear: both;}
.nopadding{padding-left: 0!important;padding-right: 0!important;}
.hover-underline{ display:none;width: 100%;height: 10px; background: #b7dcf0;border-radius: 50px; bottom: -5px; position: relative;}

body{padding:45px 0 0;}
.n_header{
	position: fixed; left:0; right:0; top:0; background: #fff; z-index: 20;border-bottom:1px solid #ddd;
	height:88px; padding:20px 0;/*border-bottom: 1px solid #ccc;*/
	img{
		margin: 8px 0 0;
	}
	#deco-top-line{ height: 20px; background: #b7dcf0; border-radius: 0 0 20px 20px; position: relative; top: -20px;width: 100%;}
	ul.menu{
		list-style: none; margin: 0; padding: 0;display: flex;justify-content: space-between;
		li{
			float: left; float: left;
			a{
				display: block; padding: 8px 10px; color: #333;font-size:16px;text-decoration:none;
			}
		}

		li:hover{.hover-underline{display:block;}}
	}

	ul.user-menu{
		list-style:none;
		li{
			float:left; margin-right:10px; 
			a{    
				padding: 2px; background: #d1c8eb;  border-radius: 2px;  color: #fff; font-size:12px;text-decoration:none;width:52;
			}
		}
	}
}
.n_slider{
	border-bottom:1px solid #ddd;
	.item img{
		width: 100%; height:390px;
	}
}
h1{
	text-align: center; color: #6d6d6d; 
	padding: 10px 0; margin: 30px 0; font-size: 28px; font-weight: bold;
}
.n_container{
	margin-top:50px;  
	.about-main-bg{
		height:400px;background:url('../img/about/bg-about-main.jpg'); background-repeat:no-repeat;text-align:center;display: flex;
		.about-main-group{    align-self: center; margin: 0 auto;}
		#about-main-title{    font-size: 50px; font-weight: bold;}
		#about-main-desc{font-size:20px;margin-bottom:10px;}
		#video-play{display: block;
				    border: 3px solid #292E31;
				    background: #292E31;
				    border-radius: 50%;
				    width: 48px;
				    height: 48px;
				    margin: 0 auto;
				    color: #fff;
				    -webkit-transition: all .1s ease;
				    transition: all .1s ease;
				    text-decoration:none;
				    cursor:pointer;
				    margin-bottom:10px;
			i{display: block; font-size: 24px; padding: 5px 0 0 5px;    line-height: 1.2;}
		}
		#video-play:hover{
			background:#dddddd;
			i:hover{color:#292E31}
		}

	}

	.about-contents{
		margin-top: 50px;
		.first-row{    margin-bottom: 10px;    border-bottom: 1px solid #ddd;   padding-bottom: 50px;}
		.second-row{    margin-top: 50px;}
		.first-row #title, .second-row #title{ font-size: 24px; font-weight: bold;    margin-bottom: 5px;}
		.first-row #desc, .second-row #desc{font-size:18px;}
	}

	ul.thumb_list{
		list-style: none; margin: 0; padding: 0;
		li{
			margin-bottom: 30px;
			.thumb_wrapper{
				border: 1px solid #ccc; padding: 20px 10px;
				div{
					overflow: hidden; height: 180px; text-align: center;
				}
			}
			.thumb_desc{color:#777;padding: 10px 0 4px;border-bottom: 1px solid #bbb;font-size: 12px;}
			.thumb_author{color:#aaa;padding: 4px 0;font-size:11px;}
		}
	}

	.n_featured{
		padding:20px 50px; background: #b0b0b0;
		.col-sm-4{
			text-align: center;
		}
		h2{
			color:#6d6d6d; font-size: 20px; font-weight: bold;
		}
		.desc{
			font-size: 16px; color: #777; font-weight: bold;
		}
	}

	.best-item, .best-review-item, .hot-itmes{border: 1px solid #ddd; border-radius: 5px; padding: 10px; min-height:287px;}
	.best-item:hover, .best-review-item:hover, .hot-itmes:hover{border:1px solid @main-color;}
	.best-review-item{
		img{width:100%;margin-bottom:10px;}
		.item-detail{
			.item-title{font-size:16px;font-weight:bold;}
			.item-price{font-size:14px;font-weight:bold;}
		}
	}

	.hot-itmes{ 
		img{float:left}
		.hot-item-first{width:340px;margin-right:15px;
			.ribbon{position:absolute;}
			.item-title{font-size:20px;font-weight:bold;}
		}

		.hot-item-others{.row{margin:0;}

			.hot-item-second{    margin-bottom: 5px;  border-bottom: 1px dashed #6d6d6d; padding-bottom: 5px;}
		}
			
		.item-detail{text-align:center;}
	}

	.best-item{background-image:url('../img/example/best-item.jpg'); background-repeat:no-repeat;    background-position: right bottom;}

	.seld-menu{
		margin-top:20px;
		.menu-btns a{text-decoration:none; color:#6d6d6d}
		.sub-menu-title{padding: 15px;font-size:15px; font-weight:bold;}
		.menu-btn{ border: 1px solid #ddd; border-radius:10px; text-align: center;    padding: 20px;
			img{ .RoundBorders(50%); margin-bottom:15px; }
			.menu-title{font-weight:bold;font-size:20px;}
		}

		.menu-btn:hover{background: @main-color;}
	}
}
.n_separator{
	background: transparent url(../img/n/sep.jpg) repeat-x; height: 20px; margin: 30px 0; 
}
.n_bottom{
	h3{
		font-size:16px; font-weight: bold; margin: 0; padding: 0;
	}
	.number{
		padding: 15px 0 20px; font-size: 22px;
	}
	.hours{
		font-size: 11px; color: #888;
	}
}
.n_footer{
	margin: 30px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; 
	.menu{
		margin: 0; padding: 0; list-style: none;
		li{
			float: left;
			a{
				display: block; padding: 8px 18px; font-size: 12px; color: #555;text-decoration:none;
			}
			a:hover{
				font-weight: bold; text-decoration: none;
			}
		}
		li:after{
			content:"|"; position: absolute;   margin: -27px 0 0; color: #ccc;
		}
		li:first-child:after{
			content:"";
		}
	}
	a.toplink{font-size: 12px;text-transform: uppercase;color:#888;text-decoration: none;margin-top: 6px;}
}

.n_slider{
	.carousel-caption{
		color:#000;text-align:right;text-shadow:none;
		.caption-title{font-size:18px;}
		.caption-content{font-size:42px;}
		.caption-desc{font-size:18px;}
	}
}

.login{
.login-frame{border-right: 1px solid #eee; box-shadow: 0px 0px 50px #ddd;}
	#login-main-bg{
		text-align:center;
		.login-desc .title{font-size:36px;}
		.login-desc .sub-title{font-size:12px;}
	}

	.login-form{
		text-align:center;
		.title{font-size:20px;margin:20px 0 10px 0}
	}

	.social-login{margin: 10px 0; text-align: center;}
	.btn-social{ width: 50%;}
}

.user-page{
	margin-top:100px;
	.main-tab-menu{    display: flex; justify-content: space-between;}
	.nav-tabs li a, .nav-tabs li.active a{border:none;}
	li.active{border-bottom:1px solid #000}
	.circle{ i{font-size:50px;margin: auto;} }
	
	.cases{
		position: relative; width: 100%; height: 327px; overflow: hidden;margin: auto;width: 80%;
	    .seld-design{
	    	position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;
	    	.case{
			        color: #000;
				    display: block;
				    width: 30%;//295px;
				    height: 295px;
				    padding: 15px;
				    float: left;
				    border: 1px solid #ddd;
				    cursor: pointer;
				    margin-top: 20px;
				    text-decoration:none;
				   	margin-left:10px;

				    img{max-width: 98%;}
			}

			.case:first-child{margin-left:0;}
			.case:hover{ background-color:@main-color;}

	    }
	}
}

.product-layout{
	.product-thumb {
	    border: 1px solid #ddd;
	    margin-bottom: 20px;
	    overflow: auto;
	}

	.product-list .product-thumb .image {
	    float: left;
	    padding: 0 15px;
	}

	.product-thumb .caption {
	    padding: 0 20px;
	    min-height: 120px;
	}

	.product-thumb .item-status {
	    border-top: 1px solid #ddd;
	    background-color: #eee;
	    overflow: auto;
	}

	.product-thumb{
		.image{text-align:center;}
		.image img{margin: 10px 0;}
	}
}

.response{
	margin: 120px 0 80px;
	h2{
		font-size: 18px;
	}
}


.market-wrapper{
	margin-top: 50px;
	.sub-title{font-weight:bold;font-size:20px;}
	#sub-categories{list-style:none;
		li{float:left;    width: 25%;}
		li a{	position: relative;
			    display: block;
			    padding: 5px 0 2px 27px;
			    background: url('../img/bl_rect01.gif') no-repeat 20px 10px;
			    color: #222;
			    font-size: 12px;
			    border-left: 1px solid #E1E1E1;
			    line-height: 14px;
			    text-decoration:none;
		    }
	}

	.button-group {
	    border-top: 1px solid #ddd;
	    background-color: #eee;
	    overflow: auto;
	     button {
		    width: 60%;
		    border: none;
		    display: inline-block;
		    float: left;
		    background-color: #eee;
		    color: #888;
		    line-height: 38px;
		    font-weight: bold;
		    text-align: center;
		    text-transform: uppercase;
		}

		button + button {
		    width: 40%;
		    border-left: 1px solid #ddd;
		}
	}
}

/**
 * ========================================================================
 * THIS CONTAINS CSS FOR MEMBER PAGES.
 * ========================================================================
 */
.container.seldMemberWrapper{
	margin-top: 80px; /*max-width: 960px;*/

	.leftbar{border-left: 1px solid #eee;}

	/**
	 * Member Dashboard Main Links
	 */
	ul#main-links{
		margin: 0; padding: 0; list-style: none;
		li{
			float: left; width: 50%;
			.wrapper{
				height: 100px; margin: 4px; border: 1px solid #ccc; .RoundBorders(4px); padding: 15px;
				
				.btn .glyphicon-triangle-right{position:relative;top:2px;left:4px;}

				.link-title{margin:0 0 10px;color:#a4c9dd;}
				.link-desc{
					font-size: 19px; font-weight: bold; color: #333;
				}
			}
			.wrapper.bg-shipping{background: url(../img/icon-shipping.png) no-repeat right center;}
			.wrapper.bg-lock{background: url(../img/icon-lock.png) no-repeat right center;}
		}
		li:first-child .wrapper{height:208px;}
	}

	h4.record-title{
		border-bottom: 1px solid #ccc; padding: 5px 15px; margin: 10px 0;
	}
	ul.record-list{
		margin: 5px 0 0 20px; padding: 0;
		li{
			color: #333; margin: 0 10px;
		}
	}

	.user-info{
		.user-img{
			width: 100px;margin-right: 10px;border: 1px solid #eee; padding: 5px; text-align: center;
			img{width:100%;height:auto;background: #f5f5f5;padding: 4px;}
			.glyphicon{font-size:80px;color:#ddd;background: #f5f5f5;padding: 4px;}
		}
		.user-desc{}
	}

	ul#logs{
		margin: 5px 0 0 30px; padding: 0;
		li{
			color:#aaa; font-size: 12px; margin: 8px 0;
		}
	}

	tr td .btnDelete, tr td .btnCopy{display: none;margin-left: 4px;}
	tr:hover td .btnDelete, tr:hover td .btnCopy{display: block;}
}

/**
 * PREVIEW 
 */
#preview_publish_wrapper{
	ul#preview_publish{
		margin: 0; padding: 0; list-style: none;
		li{
			text-align: center;
			img{
				max-width: 100%;
			}
		}
	}
}

.canvas_file_info.overlay{z-index: 600;position: fixed; top:0; left:0; right:0;bottom:0;background: #000; opacity: 0.9;}
.canvas_file_info.wrapper,
.canvas_status_saving{
	z-index: 601; margin: -45vh 0 0 -30%; /*height: 60vh;*/
	position: absolute; width: 60%;  left:50%; top:50%;
	border: 1px solid #ccc; .RoundBorders(5px);
	background: #fff;

	h3{padding: 0 25px;}
	
	.container-fluid{
		padding-bottom: 20px;
		#canvas_file_options{
			margin: 10px; .RoundBorders(4px);
			.mycol{
				float: left; width:50%; border: 1px solid #ccc; background: #fff;
				background: #eee; overflow: hidden;
				h3{padding: 10px;margin: 0;border-bottom: 1px solid #ccc;font-size: 14px;font-weight: bold; background: #f2f2f2;
					overflow: hidden;cursor:pointer;}
				h3:hover{color:#777}
				.mycol-container{
					height: 50vh; overflow:auto; background: #fff;
					ul#file_design_type{
						margin: 0; padding: 0; list-style: none;
						li{
							border-bottom: 1px solid #ccc; padding: 10px; font-size: 11px; cursor: pointer;
							img{float: left;margin-right: 10px;}
							h4{font-size: 12px;}
						}
						li:hover{
							background: #FFF2EC;
						}
						li.active{
							background: #FFE1D2;
						}
					}
					.control-label{text-align: right;color:#aaa;font-size: 11px;}
					.form-control{
						padding:2px;margin-bottom: 5px; font-size: 11px;
					}
					h4.file_info_heading{ font-size:13px; font-weight: bold; padding:0 10px;text-align: center;}

					ul.product-themes{
						margin: 0px; padding: 0; list-style: none;
						li{
							padding: 2px; border: 1px solid #ccc; float: left; height: 220px;
							margin: 5px;
							.theme-preview{
								border: 1px solid #ccc; width: 200px;height: 140px;background: #ccc;overflow: hidden;
								img{width:100%;height:auto;}
							}
							.theme-description{
								h3{margin: 0;padding: 10px 0;font-size: 12px;font-weight: bold;}
								text-align: center;font-size: 11px;
							}
							.theme-buttons{position: absolute;margin: -50px 0 0;width: 200px;padding: 10px;display: none;}
						}
						li:hover{
							background: #f2f2f2;
							.theme-buttons{display: block;}
						}
					}
				}
			}
			.mycol.full{width:100%;}
		}
	}

	#preview_wrapper{
		padding: 20px; text-align: center; height: 80vh;
		#preview-main{
			border: 1px solid #ccc; margin: 10px; min-height: 65vh; width: 100%; display: table;
			#preview-inner{
				width:100%; height:65vh; display: table-cell;
				text-align: center; vertical-align: middle;
				img{
					max-height: 60vh; width:auto; border: 1px solid #444; box-shadow: 0 0 10px #000;
				}
			}
		}
		ul{
			list-style: none; margin: 0; padding: 0; text-align: center;
			li{
				display: inline-block; margin: 5px; width:60px;height:40px; overflow: hidden;
				border: 1px solid #ccc;
				img{
					width:100%; height: auto;
				}
			}
		}
	}
}
.canvas_status_saving{padding:8em;}

.canvas_pages_view.overlay{z-index:600;position: fixed;top:0;left:0;right:0;bottom:0;}
.canvas_pages_view.wrapper{
	background: #000; z-index:601; opacity: 0.9; width: 80%; height: 320px; position: absolute; left: 50%; top:50%;
	margin: -160px 0 0 -40%; padding: 20px;
	ul{
		margin: 0; padding: 0; list-style: none; text-align: center;
		li{
			background: #fff; border: 3px solid transparent; margin: 10px;
			display: inline-block; width: 18%; height: 80px; color: #aaa;
			text-align: center; line-height: 80px; font:bold 4em Verdana; cursor:pointer;
		}
		li:hover{border-color:#ff0;}
		li.active{border-color:#f00;}
	}
}

.panel-heading h3{ margin: 0;}

.product-preview{
	padding: 0 0 20px;
	ul.product_info{
		list-style: none; margin: 0; padding: 0; text-align: center;
		li{
			width:150px;height:100px; display: inline-block; text-align: center; margin-right: 2px;
			img{width:100%; height:auto;margin:10px;max-width: 150px;max-height: 100px;border: 1px solid #777;padding:2px;}
		}
	}	
}

ul.product-themes{
	margin: 0px; padding: 0; list-style: none;
	li{
		padding: 2px; border: 1px solid #ccc; float: left; height: 220px;
		margin: 5px;
		.theme-preview{
			border: 1px solid #ccc; width: 200px;height: 140px;background: #ccc;overflow: hidden;
			img{width:100%;height:auto;}
		}
		.theme-description{
			h3{margin: 0;padding: 10px 0;font-size: 12px;font-weight: bold;}
			text-align: center;font-size: 11px;
		}
		.theme-buttons{position: absolute;margin: -50px 0 0;width: 200px;padding: 10px;display: none;}
	}
	li:hover{
		background: #f2f2f2;
		.theme-buttons{display: block;}
	}
}