@image-border-color: #ccc;
@intro-video-offset: -100px; 
@canvas-border: #24B8FF;

.RoundBorders(@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

 *{outline:none!important;}
html,body{ height:100%!important;overflow:hiddens;font-size:14px;}

@font-face{
	font-family : agisarang;
	src: url(../fonts/agisarang.ttf);
}

.cf{clear: both;}
.nopadding{padding-left: 0!important;padding-right: 0!important;}

.container{max-width: 980px;} 
ul.pagination{margin:0}

body{background: #fff;/*padding: 60px 0 0;*/ overflow: hidden;} 

.header{
	padding: 10px 0; background: #333; z-index:10; position: fixed; left:0; right:0; height: 60px; top:0;
	h1{
		margin: 0; padding: 0;
		img{margin: 0;padding:0;}
	}
	.nav{
		li{
			float: left;
			a{color: #bbb;}
			a:hover{color: #333;}
		}
	}
}

.article-pages{
	.page{
		position: absolute; top:0px;height: 100%;left:0;right:0; z-index:2; overflow: hidden;
		padding: 60px 0 0;
		.props{
			position: absolute; 
		}
	}
	.page.prev{z-index:8;}
	.page.active{z-index:9!important;}
	#page1{
		background: url(../img/p1-bg.jpg) repeat center center;
		.intro{
			max-width: 250px; position: absolute; top: 65%; left: 20%; 
			h1, h2{margin: 0;padding: 0;}
		}
		.footer{position: absolute; bottom: 10%; left:16%; font-size: 11px; color:#fff;}
	}
	#page2{background: #fff;}
	#page3{
		background: #bbcbd3 url(../img/p3-bg.jpg) no-repeat center center;
		padding-top: 100px;
		h2{margin: 0;padding: 50px 70px 20px;color:#fff;}
		p{color:#fff;}
	}
	#page4{
		background: #000;
		.hasbg{display: inline-block;height:36vh;}
		.row1{
			background: #3d5078;position: absolute;height:40%;top: 60px;width:100%;
			.hasbg{
				background: url(../img/p4-row1.png) no-repeat center bottom; background-size: 91%;
				background-position-y:190%;
			}
		}
		.row2{
			background: #7c88f9;position: absolute;height:30%;top:40%;width:100%;
			.hasbg{
				background: url(../img/p4-row2.png) no-repeat center bottom; background-size: 91%;
				height: 28vh; background-position-x:0px;
			}
		}
		.row3{
			background: #30b4b7;position: absolute;height:30%;top: 70%;width:100%;
			.hasbg{
				background: url(../img/p4-row3.png) no-repeat center bottom; background-size: 80%;
				height: 28vh; background-position-y:0%;
			}
		}
		img.text{height:80%;}
	}

	#quick_page_links{
		margin: 0; padding: 0; list-style: none; position: absolute; top:50%; right: 4%; z-index:11;
		li{
			background: #777; .RoundBorders(8px); width: 16px; height: 16px; margin: 10px 0 0; cursor: pointer;
			border: 1px solid #ccc;
		}
		li.active{background: #fff;}
	}
}

.slideshow{
	padding: 30px 0 50px;
	.caption{
		color: #fefefe; float: left; margin-top: 50px; position: absolute; padding: 0 0 0 20px;
		h2{
			font-size: 28px;
		}
	}
}

.contact{
	background: #fff; margin-bottom: -10px;
}

.login{
	min-height: 220px;
	#frm-login{
		background: #fff; .RoundBorders(6px); padding: 20px; margin: 80px 0; box-shadow: 0 0 15px #000;
		h3{ text-align: left;margin-bottom: 30px;}
		.text-muted{margin: 20px 0;}
		p{padding: 10px 0;margin-bottom: 20px;}

		.social-login{
			.btn{width:48%;margin-right: 2px;}
		}
	}
}

.navbar-brand{
	img{height: 22px;}
}

.main{
	background: #eee; padding: 50px 0;
	h3{
		text-align: center; margin: 0 0 30px;
	}

	.main-links{
		height: 120px;

		.main-links-icon img{
			max-width: 100%; max-height: 100%;		
		}

		a{
			font-weight: bold; color:#333; text-transform: uppercase;
		}
	}
}

/*#canvas{
	height: 527px; background: #fff; border: 1px solid @canvas-border; box-shadow: 0 0 15px #AEE4FF;
	overflow-y:auto; overflow-x: hidden;

	ul.product-list{
		margin: 0; padding: 0; list-style: none;
		li{
			border-bottom: 1px solid @canvas-border; padding: 20px 40px;
			h4{margin: 0;padding: 0;}
			.navbtns{ margin: 10px 20px 0 0;display: none;position: relative;}
		}
		li:hover{
			background: #fafafa; 
			.navbtns{ display: block;}
		}
	}

	// step 2.
	.container-border-radius{ border: 1px solid #333; height: 45px;}
	.bdt{border-top: 1px solid @canvas-border;}
	.bdl{border-left: 1px solid @canvas-border;}
}*/

@media screen and (max-width:500px){
	.header{
		.col-xs-4, .col-xs-8{width:100%!important;}
		h1{text-align: center;margin-bottom: 10px;}
		.pull-right{float: none!important;}
	}

	.login{
		.login-frm{
			margin: 20px 0;
		}
	}
}

/* ================================================================================== */
/* ==================== S E L D . C S S . S U D A R S H A N ========================= */
/* ================================================================================== */
.seld-nav{
	background: #fff;border-bottom: 1px solid #777; position: fixed;top:0;left:0;right:0; z-index:100; height: 50px;
}
.seld-status{
	position: fixed;top:50px;left:0;right:0; z-index:90;background: #fff; height: 40px;
	.aside, .article{float: left;width: 15%;background: #A5A5A5;height: 20px;}
	.article{width: 85%;background: #fff;}
	#status_title, #status_content{background: #fff; padding: 10px;color:#aaa;position: relative;right:-1px;}
	#status_content{
		font-size: 11px;
		span.gap{margin: 0 10px;}
		select{
			font-size: 11px; background: #eee;padding: 4px; .RoundBorders(4px); margin: 0 10px;
		}
	}
}
.seld-body{
	position: fixed;top:90px;bottom:0;left:0;right:0; z-index:90;
	background: #fff;

	/* ========= MENU ========*/
	.aside, .article{float: left;width: 15%;background: #A5A5A5;height: 100vh;}
	.aside{
		#tools{
			width:180px;
			#tools-nav-wrapper, #design-tools-wrapper{float: left;width:100%;overflow: hidden;}
			#design-tools-wrapper{display: none;}
			ul{
				margin: 30px 0 0; padding: 0; list-style: none;
				li{
					a{
						color: #fff; display: block; padding: 10px 20px 10px 40px; text-decoration: none; 
						border: 1px solid transparent; font-size: 16px;
						span.glyphicon{
							font-size: 150%; position: relative; top:7px; left:-4px;
						}
					}
					/*a:hover{background: #ddd; color:#777; }**/
					a.active{background: #fff; color:#777;}
					a.disabled{opacity:0.4;}
					a.active.disabled{opacity: 1;}
				}
			}
		}
		#tools.design-menu{
			#tools-nav-wrapper{
				float: left; width:60px;
				ul{
					margin: 20px 0 0 -20px; 
					.tools-menu-title{display: none;}
				}
			}
			#design-tools-wrapper{
				float: left; width: 50%; height: 100vh; display: block;
				background: #464646; color: #aaa;
				.tools-title{
					background: #373737; padding: 8px; font-size: 11px;
					box-shadow: 0 0 7px #333; 
				}
				ul#design-tools{
					margin: 10px;
					li .dTool{
						margin: 5px; padding: 10px 5px; .RoundBorders(4px); overflow: hidden;
						border: 1px solid #666; text-align: center; font-size: 9px; background: #363636;
						span.glyphicon{
							font-size: 20px; color:#eee;
						}
					}
					li .dTool:hover{
						box-shadow: 0 0 5px #f00; cursor: pointer;
					}
				}
			}
		}
	}
	.article{
		width: 85%;background: #fff;border-left: 1px solid #777;overflow: hidden;
		#body-wrapper{
			padding-bottom: 115px;

			div.pagination{
				text-align: center; border-top: 1px solid #eee; display: block;
			}
			ul.product-list{
				margin: 0; padding: 0; list-style: none;
				li{
					border-top: 1px solid @canvas-border; padding: 20px 20px;
					h4{margin: 0;padding: 0;}
					.navbtns{ margin: 10px 20px 0 0;display: none;position: relative;}
					.col-xs-2{
						text-align: center;
						img.product-img{}
					}
				}
				li:first-child{
					border-top: none;
				}
				li:hover{
					background: #f1f1f1; 
					.navbtns{ display: block;}
				}
			}

			.inner-content{
				padding: 0 25px;
			}

			/* ========================== */
			/*
			

			 ================================================= =======================
 			#design-tools-wrapper{display: none;}
					ul{
						margin: 30px 0 0; padding: 0; list-style: none;
						li{
							a{
								color: #fff; display: block; padding: 10px 20px 10px 40px; text-decoration: none; 
								border: 1px solid transparent; font-size: 16px;
								span.glyphicon{
									font-size: 150%; position: relative; top:7px; left:-4px;
								}
							}
							/*a:hover{background: #ddd; color:#777; }** /
							a.active{background: #fff; color:#777;}
							a.disabled{opacity:0.4;}
							a.active.disabled{opacity: 1;}
						}
					}* /
				}
				/*#tools.design-menu{
					#tools-nav-wrapper{
						float: left; width:60px;
						ul{
							margin: 20px 0 0 -20px; 
							.tools-menu-title{display: none;}
						}
					}
					
				}
			}
			*/
			#editor_overlay{
				background: #fff; position: fixed; top:50px; left:0; right:0; bottom:0; opacity: 1; z-index: 2000;
				.editor_msg{
					position: absolute; width: 500px; height: 200px; top:50%; left:50%;
					margin: -100px 0 0 -250px; font: bold 12px/16px Georgia; color:#aaa;
				}
				#overlay_status{
					color:#f00; margin-top: 20px;
				}
			}
			#editor_wrapper{
				position: fixed; top:50px; bottom: 0; left: 0; right: 0;
				background: #fff url(../img/design/grid.png) repeat; overflow: hidden; 
				#editor_menu{
					position: fixed; left:0; bottom:0; top:50px; width:60px; 
					border: 1px solid #aaa; background:#eee; overflow-y: auto; overflow-x: hidden;
					box-shadow: 2px 0 5px #555;

					#design-tools-wrapper{
						ul#design-tools{
							margin: 10px 0; padding: 0; list-style: none;
							li .dTool{
								padding: 8px; border: 1px solid #aaa; text-align: center; margin: 7px 10px; .RoundBorders(4px);
								background: #D4D4D4;
								background: -webkit-linear-gradient(#fff, #D4D4D4);
								span.glyphicon{
									font-size: 18px; color:#777;
								}
								a{padding: 10px 10px; margin: -10px -10px; display: inline-block;}
							}
							li .dTool:hover{
								cursor: pointer; border-color:#777;  background: #fefefe; 
							}
							li .dTool.active{
								background: #fafafa; border-color: #aaa; .RoundBorders(4px);
							}
							li.seperator{border-top:1px solid #ccc;margin:15px 0 0;padding:5px 0 0;}
							li .dTool.requireLayerSelection.disabled{background: #ccc;cursor:not-allowed;}
						}
					}
				}
				#editor_properties{
					position: fixed; right:0; top:50px; bottom:0; width: 220px;
					border-left: 1px solid #aaa; background: #fff; overflow-y: auto; overflow-x: hidden;
					box-shadow: -2px 0 5px #555;
					.head{
						padding: 10px; border-bottom: 1px solid #ccc; background: #eee;
						button{margin-left:5px;}
					}
					#top_section, #bottom_section{
						width:220px; position: fixed;right:0; bottom:30px; top:100px; overflow-y:auto;
						margin-top:35px; padding-bottom: 50px;
						h3{
							margin: 0; padding: 10px; border: 1px solid #ccc; border-left: none; border-right: none;
							background: #777; font-size: 12px; font-weight: bold;
							color: #eee; position: fixed; width:100%; margin:-42px 0 0 -10px; z-index: 10;
						}
					}
					#bottom_section{height:200px;bottom:30px;top:auto;padding-bottom: 0;}
					#copyright{
						position: fixed; bottom:0; right:0; border-top: 1px solid #aaa; color: #aaa; background: #eee;
						height: 30px; width:220px; font:11px Arial; text-align: right; padding:5px 10px 0 0;
					}

					ul#layers{
						margin: 0; padding: 0;
						li{
							padding: 5px 8px;border-bottom: 1px solid #ccc; background: #eee; font-size: 9px;
							input[type="checkbox"]{margin:0;position: relative; top:3px;}
							.glyphicon-trash{position: relative;top:2px;font-size: 120%;cursor: pointer;}
							.glyphicon-trash:hover{color:#000;}
						}
						li:hover{
							background: #e3e3e3;
						}
						li.active{background: #FFDAC6;}
					}
				}
				#editor_footer{
					height:30px; position: fixed; left:0; right:219px; bottom:0; 
					border-top: 1px solid #aaa; background: #eee; padding: 3px; color:#777;
					ul{
						margin: 0; padding: 0; list-style: none;
						li{
							float: right; margin-left: 10px;
							select{font-size: 10px;padding: 2px;}
							#slider_zoom{width:36px;color:#aaa;font-size: 11px;padding-top: 2px}

							ul.pad-pagination, ul.pad-face{
								position: relative; top: 1px; border: 1px solid #777; background: #fff;.RoundBorders(4px);
								li{
									float: left; margin: 0; font-size: 11px; cursor: pointer;
									padding: 2px 8px; 
								}
								li:hover{ background: #ccc;}
								li.active{
									background: #3E74CA; color: #fff; .RoundBorders(4px); padding: 2px 12px;
								}
							}
						}
						li#slider-container{
							input[type=range]{-webkit-appearance: none; background: #eee;}
							input[type=range]::-webkit-slider-runnable-track{width: 300px; height: 5px; background: #aaa; border: none; border-radius: 3px;margin-top:8px;}
							input[type=range]::-webkit-slider-thumb{-webkit-appearance: none; border: 1px solid #343; height: 16px; width: 16px; border-radius: 50%; background: #fff; margin-top: -5px;}
							input[type=range]:focus{outline: none;}
							input[type=range]:focus::-webkit-slider-runnable-track{background: #ccc;}
							#slider{
								position: relative; float: right;  border: 1px inset #ccc; height:6px;
							    border-radius: 4px;  background: #bbb; width: 160px; top:7px;
							    span{
							    	background: #ccc; background: #ccc; height: 16px; border: 1px solid #aaa; border-radius: 0px 0px 10px 10px; width: 12px; top: -6px;
							    }
							}
						}
					}
					span.glyphicon-fullscreen, span.glyphicon-resize-small{
						position: relative; left: -10px; border: 1px solid #777; padding: 3px 4px; font-size: 12px;
						background: #fff; .RoundBorders(4px); color: #000;
					}
				}

				#canvas_options{
					ul#design-tools-options{
						margin:0px;padding: 5px;
						li{
							display: none;margin:0 4px 22px;
							list-style: none; font-size: 10px; padding: 2px 2px 0;
							.col-xs-4{text-align: right;margin-right: 10px;font-weight: bold;position: relative; top:2px;}
							.dToolOption{}
							
							.hasBorder span{border: 1px solid #ccc; padding: 4px;.RoundBorders(2px);background: #fafafa;margin-right: 2px; float: left;font-size: 12px!important;}
							.hasBorder:hover span{background: #ddd;}
							.dToolOption.hasBorder.active span{border-color:#777;color:#fff;background: #777;}

							select, input[type="text"], input[type="number"]{width:80%;background: #aaa;color:#fff;border: 1px solid #aaa;padding: 2px;margin-left: 2%;}
							span.glyphicon{
								font-size: 10px; color:#aaa;
							}

							/**
							 * about this function.
							 */
							#seldtext-presets{
								position: fixed; right:0; top:135px; bottom: 30px; width: 220px; background: #fff; z-index:10;
								h4{
									font: bold 14px Arial; border-bottom: 1px solid #ccc;
									padding: 0 10px 10px; background: #fafafa;
									.btn-close-presets{
										position: relative; top: -8px; right: -10px; padding: 0px 4px!important;
										background: #D9534F; color:#fff; cursor: pointer;
									}		
								}
								#seldtext-presets-wrapper{
									ul#seldtext-presetsList{
										list-style: none; padding: 0; margin: 0; width: 100%;
										li{ display: block!important;margin:0!important;padding:0 10px!important;}
										li:hover{background: #f2f2f2;}
										li.active{background: #FEDEC7;}
									}
								}
							}
						}
						li.separator{ border-bottom: 1px solid #eee; margin: 0 0 10px!important; padding: 5px 0 10px;}
					}
					ul#design-tools-options.current-text{
						li.text-options{display: block;}
						textarea#seldtext-value{width:100%;font:12px Arial;resize:none;font-size: 14px;}
						textarea#seldtext-value:focus{background: #FFFF91;}
					}
					ul#design-tools-options.current-canvas{
						li.canvas-options{display: block;}
					}					
					ul#design-tools-options.current-image{
						li.image-options{
							display: block;
							#image-options-select{min-height:200px;}
							#image-options-upload, #image-options-select{margin-bottom: 5px;padding-bottom: 10px;}
							
							h3 div{
								float: left; position: relative; top: 5px;
								span{
									background: #ddd; padding: 6px 15px; color: #000;
									margin-right: 1px; border-radius: 4px 4px 0 0; cursor:pointer;
								}
								span.active{background: #fff;}
							}
							ul{
								list-style: none; margin: 0; padding: 0;
								li{
									width: 50%; float: left; display: block; padding: 0; margin: 0;
									.img-wrapper{
										padding: 4px 0;margin: 2px;border: 1px solid transparent; height:66px; overflow: hidden;
										img{width:100%;}
										button{
											position:absolute;color:#fff;display: none; margin: 4px;
											span{color:#fff!important;}
										}
									}
									.img-wrapper:hover button{display: block;}
								}
							}
						}
					}
					ul#design-tools-options.current-shape{
						li.shape-options{
							display: block;
						}
					}
				}

				#canvas{
					position: fixed; top:50px; bottom: 30px; left: 60px; right: 220px; overflow: auto;
					#canvas_wrapper{
						display: table; margin: auto; height: 88vh;
						#canvas_cell{
							display: table-cell; vertical-align: middle; padding: 50px;
							#pad{
								width:600px;height:480px; margin:0 auto; position: relative; background: #fff;
								box-shadow:0 0 30px #000; z-index: 500;

								.layer{
									position:absolute; float: left; min-width: 80px;min-height: 24px;border: 1px dashed transparent; padding: 0px;
									/*textarea{
										border: none; resize:none; background: none; width: 100%; height: 100%; overflow: hidden;
									}
									textarea:focus{}*/
									img{
										width: 100%; max-width: 100%; max-height: 100%; height:100%;
									}
									.textarea{width:100%;height:100%;overflow: hidden;}
									.glyphicon-move{position: absolute;margin: -5px;display: none; cursor:move;}
									.ui-rotatable-handle{display: none!important;}
								}
								.layer:hover{
									/*border-color:#aaa;
									.glyphicon-move{display: block;}
									.ui-rotatable-handle{display: block!important;}*/
								}
								.layer.active{
									border-color:#777; z-index:95!important;
									cursor: move;
									.glyphicon-move{display: block;}									
								}
								.layer.active:hover{
									border-color:#aaa;
									.ui-rotatable-handle{display: block!important;}
								}
								.layer.highlight{border-color:#00F;}
								.layer-image-container{width:200px;height:200px;}
								.layer-rect-container{width:100px;height:100px;background: #fff;}
							}
							#pad.preview{overflow: hidden}
							#pad.insert-text{cursor:alias;}
							#pad.insert-image{cursor:pointer;}
							#pad.insert-shape{cursor:crosshair;}

							#canvas_ghost{}
						}
					}
				}
				#canvas.preview{background: #777;}
				#last_save_msg{padding:0 0 0 55px;color:#aaa;}
			}
		}
	}

	tr td .btnDelete{display: none;}
	tr:hover td .btnDelete{display: block;}

	/**
	 * this will design the layers floating tab.
	 */
	#layer_overlay{
		width: 260px; opacity: 0.95;
		border: 1px solid #ccc; background: #fff; box-shadow: 1px 1px 3px #000;
		position: fixed; top: 50px; left: 60px;

		h3{padding: 6px 4px;margin: 0;font: bold 12px/14px Arial;border-bottom: 1px solid #ccc;}
		.close_parent{font-size: 20px;color:#fff;background: #D9534F;padding: 2px 4px;position: relative;top:-8px;right:-5px;cursor:pointer;}
		#layers_wrapper{
			height: 210px; overflow-y: auto;
			ul#layers{
				margin: 0; padding: 0; list-style:none;
				li{
					padding: 5px 8px;border-bottom: 1px solid #ccc; background: #eee; font-size: 9px;
					.sortorder{position: relative;left:-3px;top:2px; cursor:move;color:#555;font-size:13px;}
					input[type="checkbox"]{margin:0;position: relative; top:3px;}
					input[type="text"]{background: transparent;border: none;border:1px solid transparent;padding:2px 5px;width:75%;color:#000;font-weight: bold;}
					input[type="text"]:focus{background:#fff;border:1px solid #ccc;font-weight: normal;}
					.glyphicon-trash{position: relative;top:2px;font-size: 120%;cursor: pointer;}
					.glyphicon-trash:hover{color:#000;}
				}
				li:hover{
					background: #e3e3e3;
				}
				li.active{background: #FFDAC6;}
			}
		}
	}
}
#canvas_ghost{position: absolute;background: #fff;}
.dToolOptionButton{position: relative;left:2px;}
.sub-canvas{background:transparent;position: absolute;}
#pad{background: transparent!important;}

/**
 * cursors.
 */
.cursor-rotate{
   cursor: url(../img/cursor-rotate.png) 4 12, auto;
}
.cursor-default{ cursor:default;}
.cursor-nw-resize{ cursor:nw-resize;}
.cursor-n-resize{ cursor:n-resize;}
.cursor-ne-resize{ cursor:ne-resize;}
.cursor-w-resize{ cursor:w-resize;}
.cursor-e-resize{ cursor:e-resize;}
.cursor-sw-resize{ cursor:sw-resize;}
.cursor-s-resize{ cursor:s-resize;}
.cursor-se-resize{ cursor:se-resize;}

/**
 * image list thumbs
 */
#image-options-select{
	max-height: 330px; overflow-y: auto;
	ul#my-images-list{
		list-style: none; margin: 0; padding: 0;
		li{
			width: 80px; float: left; display: block; padding: 0; margin: 0;border: 1px solid transparent; 
			.img-wrapper{
				padding: 4px 0;margin: 2px; height:60px; overflow: hidden;
				img{width:100%;}
			}
		}
		li:hover{border-color:#00f;}
		li.active{
			background-color: #FFD1BB; opacity:0.8; border-color:#FF7837;
		}
	}	
}
#selectImageRow{height: 140px;}
#select_image_preview{
	text-align: center; cursor: pointer; padding: 8px 0;
	img{
		border: 2px solid #aaa;padding: 2px;
	}
	div{font-size:11px;}
}
#select_image_preview:hover{
	background: #FFE1D2;
}
.image-upload-main{	padding: 15px 0 10px;text-align: center;}
.image-upload-main:hover{background: #FFE1D2;}
.ajax-upload-dragdrop{border-color:#5BC0DE!important;padding:20px;}

#selectionObject{background: brown;width:600px;height:600px;position: absolute;z-index:500;}
#loading_page{position: fixed;top:0;left:0;bottom: 0;right:0;opacity:0.95;z-index:200;
background:#fff url(../img/loading.gif) no-repeat center center;}

#preview_publish_wrapper{
	ul#preview_publish{
		margin: 0; padding: 0; list-style: none;
		li{
			text-align: center;
			img{
				max-width: 100%;
			}
		}
	}
}

.canvas_file_info.overlay{z-index: 600;position: fixed; top:0; left:0; right:0;bottom:0;background: #000; opacity: 0.9;}
.canvas_file_info.wrapper{
	z-index: 601; margin: -40vh 0 0 -30%; /*height: 60vh;*/
	position: absolute; width: 60%;  left:50%; top:50%;
	background: #fff; border: 1px solid #ccc; .RoundBorders(5px);

	h3{padding: 0 25px;}
	
	.container-fluid{
		padding-bottom: 20px;
		#canvas_file_options{
			margin: 10px; .RoundBorders(4px);
			.mycol{
				float: left; width:50%; border: 1px solid #ccc; background: #fff;
				background: #eee; overflow: hidden;
				h3{padding: 10px;margin: 0;border-bottom: 1px solid #ccc;font-size: 14px;font-weight: bold; background: #f2f2f2;
					overflow: hidden;cursor:pointer;}
				h3:hover{color:#777}
				.mycol-container{
					height: 50vh; overflow:auto; background: #fff;
					ul#file_design_type{
						margin: 0; padding: 0; list-style: none;
						li{
							border-bottom: 1px solid #ccc; padding: 10px; font-size: 11px; cursor: pointer;
							img{float: left;margin-right: 10px;}
							h4{font-size: 12px;}
						}
						li:hover{
							background: #FFF2EC;
						}
						li.active{
							background: #FFE1D2;
						}
					}
					.control-label{text-align: right;color:#aaa;font-size: 11px;}
					.form-control{
						padding:2px;margin-bottom: 5px; font-size: 11px;
					}
					h4.file_info_heading{ font-size:13px; font-weight: bold; padding:0 10px;text-align: center;}

					ul.product-themes{
						margin: 0px; padding: 0; list-style: none;
						li{
							padding: 2px; border: 1px solid #ccc; float: left; height: 220px;
							margin: 5px;
							.theme-preview{
								border: 1px solid #ccc; width: 200px;height: 140px;background: #ccc;overflow: hidden;
								img{width:100%;height:auto;}
							}
							.theme-description{
								h3{margin: 0;padding: 10px 0;font-size: 12px;font-weight: bold;}
								text-align: center;font-size: 11px;
							}
							.theme-buttons{position: absolute;margin: -50px 0 0;width: 200px;padding: 10px;display: none;}
						}
						li:hover{
							background: #f2f2f2;
							.theme-buttons{display: block;}
						}
					}
				}
			}
			.mycol.full{width:100%;}
		}
	}
}

.seld-footer{
	position: fixed;bottom:0px;left:0; right:0; z-index:100;
	.copyright{
		margin-top: 20px;padding: 10px 0 5px;
		text-align: center; font-size: 11px; color: #aaa;
	}
}